<!DOCTYPE html>
 <html lang="en">
   <head>
    <meta charset="utf-8">
    <title>TPS Best Practices</title>
    <meta name="author" content="Srinu Basava">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta name="description" content="Moon Light Admin Admin UI">
    <meta name="keywords" content="Moon Light Admin, Admin UI, Admin Dashboard, Srinu Basava">
    <script src="/assets/html5-trunk.js"></script>
    <link href="/assets/style.css" rel="stylesheet">
    <link href="/assets/main.css" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span4 offset4">
          <div class="signin">            
              <%= yield%>
          </div>
        </div>
      </div>
    </div>
    
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
  </body>
</html>
